html {

    font-family: futura pt;;
}

body {
    position: absolute;
    width: 90%;
    height: 100%;
    left: 5%;
}

.Title {
    position: absolute;
    color: rgb(82, 78, 71);
    bottom: 10%;
    left:33%;
    font-size: 40pt;
    text-align: center;
}
/* spotlight effect here */
.arrow-up {
    position: absolute;
    left: 7.5%;
    top: -60%;
    width: 0; 
    height: 0; 
    border-left: 270px solid transparent;
    border-right: 270px solid transparent;
  
    border-bottom: 72.005vmax solid rgba(255, 233, 135, 0.356);
    display: none;
}

.arrow-up2 {
    display: none;
    position: absolute;
    left: 7.5%;
    top: -60%;
    margin-left: 420px;
    width: 0; 
    height: 0; 
    border-left: 270px solid transparent;
    border-right: 270px solid transparent;
  
    border-bottom: 72.005vmax solid rgba(255, 233, 135, 0.356);
    overflow: hidden;
}
/* could have gotten rid of the pt 2s for a lot of these classes probably but I did not have time to work out the logistics */
img:hover + .arrow-up {
    display: block;

}
img:hover + .arrow-up2 {
    display: block;

}


img {
    width: 360px;
    height:360px;
    margin-top: 10%;
    opacity: 50%;
    z-index: 2;
}

img:hover {
    opacity: 100%;
    cursor: pointer;
}

#names {
    position: relative;
    z-index: 10;
    color: white;
}

#movethis {
    padding-left: 60px;
}

.pics {
    margin-left: 15%;
    margin-right: 35%;
    display: flex;
}

.Rick {
    position: absolute;
    margin-left: 16%;
    font-size: 40pt;
    margin-top: 31%;
}

.Jastor {
    position: absolute;
    margin-left: 16%;
    padding-left: 420px;
    margin-top: 31%;
    font-size: 40pt;
}


.hidden {
    position: absolute;
    display: none;
    
}

.hidden2 {
    position: absolute;
    display: none;
    
}

.showing {
    position: absolute;
    display: all;
}

.top {
    z-index: 15;
    position: relative;
    color: white;
}
h1.top {
    padding-top: 15px;
    font-size: 22pt;
    margin-left: 2%;
    color: tomato;
}

#JayColor {
    color: cornflowerblue;
}

p.top {
    margin-right: 66%;
    margin-left: 2%;
    font-size: 18pt;
    line-height: 30pt;
}
.picinfo {
    position: fixed;
    width: 800px;
    height: 60px;
    right: -10px;
    bottom: -12px;
    z-index: 13;
}

.picinfo .words2{
    background-color: cornflowerblue;
    padding-top: 5px;
    padding-bottom: 6px;
}

.picinfo .words{
    background-color: tomato;
    padding-top: 5px;
    padding-bottom: 6px;
}

.words {
    font-size: 15pt;
    color: white;
    padding-left: 20px;
    margin-top: 15px;
}

.words2 {
    font-size: 15pt;
    color: white;
    padding-left: 20px;
    margin-top: 15px;
}
#cover {
    position: fixed;
    top: -200px;
    right: -10px;
    opacity: 100%;
    width: 800px;
    height: 800px;
    z-index: 12;
}

#cover2 {
    position: fixed;
    top: -200px;
    right: -10px;
    opacity: 100%;
    width: 800px;
    height: 800px;
    z-index: 12;
}

.btn {
    position: fixed;
    left: 5px;
    top: 30px;
    background-color: rgb(20, 20, 20);
    border: none;
    color: rgb(255, 152, 152);
    padding: 12px 16px; 
    font-size: 35px; 
    cursor: pointer; 
    z-index: 20;
}

#bgs {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -200px;
    background-color: rgb(20, 20, 20);
    z-index: 11;
}

footer {
    position: absolute;
    text-align: center;
    bottom: 20px;
    left: 38%;
}
a {
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 20px;
}
/* This last class is just for the background. I didn't want to have to make it perfectly repeat, so I just made it stretch */
.background-complete {
    position: fixed;
    background: url(images/bG-Test1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: -1px;
    left: -1px;
    z-index: -5;
}


