html {
    background-color: rgb(26, 26, 26);/* just in case the bg image fails to load */
    font-family: futura-pt, sans-serif;
}

#galleria {
    color: white;
    text-align: center;
    position: fixed;
    margin-left: 35%;
    margin-top: 40px;
    z-index: 9;
}

body {
    position: absolute;
    width: 90%;
    height: 100%;
    left: 5%;
}

.Title {
    position: absolute;
    color: rgb(82, 78, 71);
    bottom: 10%;
    left:33%;
    font-size: 40pt;
    text-align: center;
}
/* spotlight effect here */
.arrow-up {
    position: absolute;
    margin-left: -140px;
    top: -80%;
    width: 0; 
    height: 0; 
    z-index: -1;
    border-left: 320px solid transparent;
    border-right: 320px solid transparent;
  
    border-bottom: 72.005vmax solid rgba(255, 233, 135, 0.356);
    display: none;
}

.arrow-up2 {
    display: none;
    position: absolute;
    top: -80%;
    margin-left: -75px;
    width: 0; 
    height: 0; 
    z-index: -1;
    border-left: 320px solid transparent;
    border-right: 320px solid transparent;
  
    border-bottom: 72.005vmax solid rgba(255, 233, 135, 0.356);
    overflow: hidden;
}
/* could have gotten rid of the pt 2s for a lot of these classes probably but I did not have time to work out the logistics */
img:hover + .arrow-up {
    display: block;

}
img:hover + .arrow-up2 {
    display: block;

}


img {
    width: 360px;
    height:360px;
    margin-top: 10%;
    opacity: 50%;
    z-index: 2;
}

img:hover {
    opacity: 100%;
    cursor: pointer;
}

.names {
    position: relative;
    z-index: 10;
    color: white;
    margin-top: 80px;
}

#movethis {
    padding-left: 60px;
}

.mover {
    padding-left: 60px;
}

.pics {
    display: flex;
    /* margin-top: 60px; */
    width: 100%;
    height: 90%;
    overflow: scroll;
    overflow-y: hidden;
}

.Rick {
    position: absolute;
/*     margin-left: 16%; */
    font-size: 33pt;
    margin-top: 90%;
    margin-left: 25px;
    z-index: 3;
}

.Jastor {
    position: absolute;
    /* margin-left: 16%; */
    /* padding-left: 420px; */
    margin-top: 78%;
    margin-left: 72px;
    font-size: 33pt;
    z-index: 3;
}

.Alma {
    position: absolute;
}


.hidden {
    position: absolute;
    display: none;
    
}

.hidden2 {
    position: absolute;
    display: none;
    
}

.hidden3 {
    position: absolute;
    display: none;
    
}
.hidden4 {
    position: absolute;
    display: none;
    
}
.hidden5 {
    position: absolute;
    display: none;
    
}

.showing {
    position: absolute;
    display: all;
}

.top {
    z-index: 15;
    position: relative;
    color: white;
}
h1.top {
    padding-top: 15px;
    font-size: 22pt;
    margin-left: 2%;
    color: gray;
}

#JayColor {
    color: tomato;
}

#AlmaColor {
    color: rgb(255, 85, 85);
}
#Vgk {
    color: cyan;
}
#MattColor {
    color: rgb(31, 83, 255);
}

p.top {
    margin-right: 66%;
    margin-left: 2%;
    font-size: 18pt;
    line-height: 30pt;
}
.picinfo {
    position: fixed;
    width: 800px;
    height: 60px;
    right: -10px;
    bottom: -12px;
    z-index: 13;
}
.picinfo .words5{
    background-color: rgb(31, 83, 255);
    padding-top: 5px;
    padding-bottom: 6px;
}

.picinfo .words4{
    background-color: cyan;
    padding-top: 5px;
    padding-bottom: 6px;
}

.picinfo .words3{
    background-color: rgb(255, 85, 85);
    padding-top: 5px;
    padding-bottom: 6px;
}

.picinfo .words2{
    background-color: tomato;
    padding-top: 5px;
    padding-bottom: 6px;
}

.picinfo .words{
    background-color: grey;
    padding-top: 5px;
    padding-bottom: 6px;
}

.words {
    font-size: 15pt;
    color: white;
    padding-left: 20px;
    margin-top: 15px;
}

.words2 {
    font-size: 15pt;
    color: white;
    padding-left: 20px;
    margin-top: 15px;
}

.words3 {
    font-size: 15pt;
    color: white;
    padding-left: 20px;
    margin-top: 15px;
}
.words4 {
    font-size: 15pt;
    color: black;
    padding-left: 20px;
    margin-top: 15px;
}
.words5 {
    font-size: 15pt;
    color: white;
    padding-left: 20px;
    margin-top: 15px;
}


#cover {
    position: fixed;
    top: -200px;
    right: -10px;
    opacity: 100%;
    width: 800px;
    height: 800px;
    z-index: 12;
}

#cover2 {
    position: fixed;
    top: -200px;
    right: -10px;
    opacity: 100%;
    width: 800px;
    height: 800px;
    z-index: 12;
}

#cover3 {
    position: fixed;
    top: -200px;
    right: -10px;
    opacity: 100%;
    width: 800px;
    height: 800px;
    z-index: 12;
}

#cover4 {
    position: fixed;
    top: -200px;
    right: -10px;
    opacity: 100%;
    width: 800px;
    height: 800px;
    z-index: 12;
}
#cover5 {
    position: fixed;
    top: -200px;
    right: -10px;
    opacity: 100%;
    width: 800px;
    height: 800px;
    z-index: 12;
}

.btn {
    position: fixed;
    left: 5px;
    top: 30px;
    background-color: rgb(20, 20, 20);
    border: none;
    color: rgb(255, 152, 152);
    padding: 12px 16px; 
    font-size: 35px; 
    cursor: pointer; 
    z-index: 20;
}

#bgs {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -200px;
    background-color: rgb(20, 20, 20);
    z-index: 11;
}

footer {
    position: absolute;
    text-align: center;
    bottom: 20px;
    left: 38%;
}
a {
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 20px;
}
/* This last class is just for the background. I didn't want to have to make it perfectly repeat, so I just made it stretch */
.background-complete {
    position: fixed;
    background: url(images/bG-Test1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: -1px;
    left: -1px;
    z-index: -5;
}


