html {
    background-color: rgb(29, 29, 29);
    color: rgb(223, 223, 223);
    font-family: futura-pt;
}

/* Header Section */
header {
    padding-top: 30px;
    padding-bottom: 5px;
    text-align: center;
    color: orange;
    background-color: orange;
    position: relative;
}
a {
    color: orange;
    text-decoration: none;
}
h1 {
    font-weight: 500;
    font-kerning: normal;
}

img {
    z-index: 4;
    position: relative;
}

img.ljFour {
    margin-left: 25%;
    margin-bottom: 5px;

}
video {
    width: 80%;
    margin-left: 10%;
}
figcaption {
    margin-left: 25%;

}

/* Infinite, Automatic Animation */
.name {
    position: relative;
    z-index: 3;
    animation-name: titleBounce;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

/* Header Hover Animation */
.animate {
    position: relative;
    position: absolute;
    top: -25px;
    left: 20%;
    z-index: 2;
    padding: 5px;
    transition: 1.5s;
    
    width: 60%;
    height: 235px;
    background-color: black;
}
.animateL2 {
    position: relative;
    position: absolute;
    top: -21px;
    left: 15%;
    z-index: 1;
    padding: 3px;
    transition: 1.7s;
    
    width: 70%;
    height: 235px;
    background-color: rgb(255, 217, 0);
}
.animate:hover{
    transition-property: left, width, padding-left, padding-right;
    transition-timing-function: ease-in-out;
    left: 50%; 
    width: 0%; 
    padding-left: 0%; 
    padding-right: 0%;
    transition-duration: 1.5;
}

.animate:hover + .animateL2 {
    transition-property: left, width, padding-left, padding-right;
    transition-timing-function: ease-in-out;
    left: 50%; 
    width: 0%; 
    padding-left: 0%; 
    padding-right: 0%;
}
/* End of Header Section */

/* Body: */
#project {
    font-weight: bold;
    color: orange;
    margin-top: 40px;
    margin-bottom: -20px;
    text-align: center;
    font-size: 28pt;
}
#info {
    text-decoration: underline;
    text-align: center;
}
#warning {
    margin-bottom: -20px;
}
#film {
    margin-bottom: -35px;
}
#gifford {
    width: 70%;
    margin-left: 15%
}
#last {
    padding-top: 20px;
}

.paper:hover {
    color: rgb(255, 217, 0);
}

 article {
     padding-top: 30px;
     margin-left: 20%;
     margin-right: 20%;
 }

h2 {
    text-decoration: underline;
    margin-bottom: 7px;
    font-size: 20pt;
    text-decoration: none;
}

p {
    margin-left: 8.7%;
    margin-right: 10%;
    font-size: 18pt;
    line-height: 24pt;
    max-width: fit-content;
}
#links {
    color: orange;
    text-decoration: underline;
}
#links:hover {
    color: rgb(255, 217, 0);
}

img {
    margin-bottom: -30px;
}

#borderThis {
    background-color: white;
    padding: 2px;
    display: inline;
    position: unset;
    margin-bottom: 10px;
    margin-left: 20%;
}

#borderThis2 {
    background-color: white;
    padding: 2px;
    display: inline;
    position: unset;
    margin-bottom: 10px;
    width: 400px;
    margin-left: 24%;
}

#GB {
    position: absolute;
    margin-left: 20%;
    margin-top: 10px;
    
}

/* Footer */
footer {
    padding-top: 50px;
    text-align: center;
}

footer > a {
    color: grey;
    padding: 10px
}
footer > a:hover {
    color: rgb(255, 217, 0);
}

/* Animation Keyframes */
/* Noticible movement but not distracting */
@keyframes titleBounce {
    0%, 20%, 50%, 80%, 100%{}
    20% {transform: translateY(10px)};
    40% {transform: translateY(-7px);}
    60% {transform: translateY(10px)};
    80% {transform: translateY(-7px)};
    100% {transform: translateY(10px);}
}
