html {
    background-color: rgb(29, 29, 29);
    color: white;
    font-family: futura pt;
}

header {
    padding-top: 2%;
    padding-bottom: .25%;
    text-align: center;
    color: orange;
    background-color: orange;
    position: relative;
}
img {
    z-index: 4;
    position: relative;
}
.name {
    position: relative;
    z-index: 3;
}
.animate {
    position: relative;
    position: absolute;
    top: -25px;
    left: 20%;
    z-index: 2;
    padding: 4px;
    transition: 1.5s;
    
    width: 60%;
    height: 235px;
    background-color: black;
}
.animateL2 {
    position: relative;
    position: absolute;
    top: -21px;
    left: 15%;
    z-index: 1;
    padding: 1px;
    transition: 1.7s;
    
    width: 70%;
    height: 235px;
    background-color: rgb(255, 217, 0);
}
.animate:hover{
    /* animation: animation1 1.5s ease-in-out; */
    transition-property: left, width, padding-left, padding-right;
    transition-timing-function: ease-in-out;
    left: 50%; 
    width: 0%; 
    padding-left: 0%; 
    padding-right: 0%;
    cursor: pointer;
}

.animate:hover + .animateL2 {
    /* animation: animation2 1.75s ease-in-out; */
    transition-property: left, width, padding-left, padding-right;
    transition-timing-function: ease-in-out;
    left: 50%; 
    width: 0%; 
    padding-left: 0%; 
    padding-right: 0%;
    cursor: pointer;
}
@keyframes animation1 {
    from {left: 20%; width: 60%; padding: 4px;}
    to {left: 50%; width: 0%; padding-left: 0%; padding-right: 0%;}
}
@keyframes animation2 {
    from {left: 15%; width: 70%; padding: 1px;}
    to {left: 50%; width: 0%; padding-left: 0%; padding-right: 0%;}
}
/* @keyframes animation3 {
    from {left: 50%; width: 0%; padding-left: 0%; padding-right: 0%;}
    to {left: 20%; width: 60%; padding: 4px;}
} */

.Title {
    text-align: center;
}

article {
    display: grid;
    grid-template-rows: 1fr;
    margin-left: 30%;
    margin-right: 20%;
}
.row1 {
    display: grid;
    grid-template-columns: 
    1fr 1fr 1fr ;
}
.row2 {
    margin-top: -110px;
    display: grid;
    grid-template-columns: 
    1fr 1fr ;
    margin-right: 33%;
}

ul {
    list-style-position: inside;
    padding-left: 3px;
}
li {
    width: 200px;
    padding-left: 5px;
}
h1 {
    font-weight: 500;
    font-kerning: normal;
}
img {
    margin-bottom: -30px;
}

a {
    color: orange;
}

a:hover {
    color: white;
}

li:hover {
    background-color: black;
    color: orange;
}
footer {
    padding-top: 50px;
    text-align: center;
}
footer > a {
    color: grey;
    padding: 10px
}