html {
    background-color: rgb(29, 29, 29);
    color: white;
    font-family: futura pt;
}

/* Header Section */
header {
    padding-top: 2%;
    padding-bottom: .25%;
    text-align: center;
    color: orange;
    background-color: orange;
    position: relative;
}
h1 {
    font-weight: 500;
    font-kerning: normal;
}
img {
    z-index: 4;
    position: relative;
}
/* Infinite, Automatic Animation */
.name {
    position: relative;
    z-index: 3;
    animation-name: titleBounce;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

/* Header Hover Animation */
.animate {
    position: relative;
    position: absolute;
    top: -25px;
    left: 20%;
    z-index: 2;
    padding: 4px;
    transition: 1.5s;
    
    width: 60%;
    height: 235px;
    background-color: black;
}
.animateL2 {
    position: relative;
    position: absolute;
    top: -21px;
    left: 15%;
    z-index: 1;
    padding: 1px;
    transition: 1.7s;
    
    width: 70%;
    height: 235px;
    background-color: rgb(255, 217, 0);
}
.animate:hover{
    transition-property: left, width, padding-left, padding-right;
    transition-timing-function: ease-in-out;
    left: 50%; 
    width: 0%; 
    padding-left: 0%; 
    padding-right: 0%;
}

.animate:hover + .animateL2 {
    transition-property: left, width, padding-left, padding-right;
    transition-timing-function: ease-in-out;
    left: 50%; 
    width: 0%; 
    padding-left: 0%; 
    padding-right: 0%;
}
/* End of Header Section */

/* Body: */

.Title {
    text-align: center;
}
.TitleA {
    /* Just to remove underline */
    text-decoration: none;
} 

h2 {
    text-decoration: underline;
}

article {
    display: grid;
    grid-template-rows: 1fr;
    margin-left: 30%;
    margin-right: 20%;
    margin-top: 20px;
    z-index: 2;
}

.row1 {
    display: grid;
    grid-template-columns: 
    1fr 1fr 1fr ;
}

.row2 {
    margin-top: -110px;
    display: grid;
    grid-template-columns: 
    1fr 1fr ;
    margin-right: 33%;
}

ul {
    margin-left: -30px;
    list-style-position: inside;
    margin-top: -5px;
    padding-left: 3px;
}

li {
    width: 160px;
    padding-left: 40px;
    list-style-type: none;
}

img {
    margin-bottom: -30px;
}

a {
    color: orange;
    text-decoration: none;
}

a:hover {
    color: white;
}

li:hover {
    background-color: black;
    color: orange;
}

#column {
    /* background-color: black; */
    z-index: -1;
    background-image: linear-gradient(rgba(255, 255, 0, 0),rgba(0, 0, 0, 0.753));
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.753),rgba(255, 255, 0, 0)); */
    position: absolute;
    top: 300px;
    width: 250px;
    height: 320px;
}
.column1 {
    left: 26%;
}
.column2 {
    left: 43%;
}
.column3 {
    left: 60%;
}

/* Footer */
footer {
    padding-top: 50px;
    text-align: center;
}

footer > a {
    color: grey;
    padding: 10px
}

/* Animation Keyframes */
/* Noticible movement but not distracting */
@keyframes titleBounce {
    0%, 20%, 50%, 80%, 100%{}
    20% {transform: translateY(10px)};
    40% {transform: translateY(-7px);}
    60% {transform: translateY(10px)};
    80% {transform: translateY(-7px)};
    100% {transform: translateY(10px);}
}
